In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("the_data.csv")

In [3]:
data

,ID,NAME,GENDER,CET HT NO.,pucbranch,Class(p1),CASTE,Class(p2),DOB,branch,...,MOTHER,BLOOD GROUP,Parent,ADDRESS,e1sem1,e1sem2,e2sem1,e2sem2,BRANCH,CGPA
0,R200001,POSA VENKATA SIVA SHANKAR,MALE,2111020143,M.P.C,G004,BC-B,Class-12 (S017-AB1),10/06/2003,Computer Science and Engineering,...,NaN,NaN,9704703989,"5/799-4,devangapeta,proddatur,kadapa.",7.73,8.36,8.93,7.31,CSE,8.082
1,R200002,NANDINENI HARSHAVARDHAN,MALE,2212027156,M.P.C,G004,OC,Class-9 (S010-AB1),09/04/2004,Computer Science and Engineering,...,NaN,NaN,9440376164,"31/1097/4, teachers colony kothapeta , dharmav...",8.75,9.73,9.16,9.69,CSE,9.332
2,R200003,GAJULA HARSHITH,MALE,2715001069,M.P.C,G005,BC-B,Class-13 (S018-AB1),13/05/2004,Computer Science and Engineering,...,manjula,a+,9490782671,"h.no 7&2-40/8/1, subhash nagar,sircilla, rajan...",8.55,8.13,8.72,8.69,CSE,8.522
3,R200004,KONANGI LAKSHMI NARASIMHA,MALE,2010015101,M.P.C,G004,BC-A,Class-9 (S010-AB1),10/07/2004,Computer Science and Engineering,...,NaN,NaN,7995163471,madanapalle annamayya dis,8.95,8.49,8.72,8.69,CSE,8.712
4,R200005,ELUGOTI HARSHA VARDHAN,MALE,2212026173,M.P.C,G006,BC-B,Class-14 (S019-AB1),09/09/2004,LEFT RKV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GONE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089,R201107,NANDYALA SANDHYA,FEMALE,2111020018,M.P.C,G008,BC-D,Class-3(F011-AB1),27/06/2005,EEE,...,NaN,NaN,9441968462,"15/1168-3 modampalli,proddatur",6.41,6.19,7.00,6.78,EEE,6.595
1090,R201108,MANDI SAI JASHWANTH,MALE,2010001065,M.P.C,G011,BC-D,Class-13 (S018-AB1),31/07/2004,LEFT RKV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GONE,NaN
1091,R201109,KOMARALA RUPESH,MALE,2111018166,M.P.C,G012,BC-A,Class-11 (S016-AB1),16/05/2005,Civil Engineering,...,k.subbalakshumma,a+,8897296530,thimmayapalem,4.47,1.88,2.43,2.41,CIVIL,2.798
1092,R201110,P VIJAY LAXMI,FEMALE,2111064055,M.P.C,G008,OC,Class-4(F013-AB1),11/08/2004,Computer Science and Engineering,...,NaN,NaN,8411021899,"peddacheppalli, kamlapuram, kadapa",6.88,6.09,7.53,8.77,CSE,7.318
1093,R201111,ABHINAY D,MALE,2212026064,M.P.C,G008,OC,Class-13 (S018-AB1),10/03/2004,Electronics and Communication Engineering,...,NaN,NaN,9008955854,#42 13th a cross pragathi nagar bangalore,6.41,4.87,5.96,6.13,ECE,5.842

In [4]:
e3s1 = pd.read_csv("e3s1.csv")

In [5]:
e3s1

      e3sem1
0       8.71
1       9.43
2       8.71
3       8.86
4        NaN
...      ...
1077    8.33
1078     NaN
1079     NaN
1080    8.07
1081    7.97

[1082 rows x 1 columns]

In [6]:
poor = pd.read_csv("poor.csv")

In [7]:
poor

,ID,NAME,GENDER,CET HT NO.,pucbranch,Class(p1),CASTE,Class(p2),DOB,branch,...,s,Formatted address,Latitude,Longitude,IMG,p1sem1,p1sem2,p2sem1,p2sem2,e3sem1
0,R200001,POSA VENKATA SIVA SHANKAR,MALE,2111020143,M.P.C,G004,BC-B,Class-12 (S017-AB1),2003-06-10,Computer Science and Engineering,...,0,"Kadapa, Andhra Pradesh, India",14.467300,78.824200,https://raw.githubusercontent.com/pythonista69...,10.00,9.83,9.63,9.46,8.71
1,R200002,NANDINENI HARSHAVARDHAN,MALE,2212027156,M.P.C,G004,OC,Class-9 (S010-AB1),2004-04-09,Computer Science and Engineering,...,2,"Anantapur, Andhra Pradesh, India",14.681888,77.600591,https://raw.githubusercontent.com/pythonista69...,10.00,10.00,9.96,9.79,9.43
2,R200003,GAJULA HARSHITH,MALE,2715001069,M.P.C,G005,BC-B,Class-13 (S018-AB1),2004-05-13,Computer Science and Engineering,...,1,"Rajanna Sircilla, Sircilla, Telangana 505301, ...",18.388950,78.809239,https://raw.githubusercontent.com/pythonista69...,10.00,9.96,10.00,9.67,8.71
3,R200004,KONANGI LAKSHMI NARASIMHA,MALE,2010015101,M.P.C,G004,BC-A,Class-9 (S010-AB1),2004-07-10,Computer Science and Engineering,...,8,"Chittoor, Andhra Pradesh, India",13.217176,79.100329,https://raw.githubusercontent.com/pythonista69...,9.88,9.79,10.00,9.75,8.86
4,R200005,ELUGOTI HARSHA VARDHAN,MALE,2212026173,M.P.C,G006,BC-B,Class-14 (S019-AB1),2004-09-09,LEFT RKV,...,0,"Anantapur, Andhra Pradesh, India",14.681888,77.600591,https://raw.githubusercontent.com/pythonista69...,9.71,9.04,9.17,8.88,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1077,R201107,NANDYALA SANDHYA,FEMALE,2111020018,M.P.C,G008,BC-D,Class-3(F011-AB1),2005-06-27,EEE,...,3,"Kadapa, Andhra Pradesh, India",14.467300,78.824200,https://raw.githubusercontent.com/pythonista69...,8.08,8.17,8.54,8.08,8.33
1078,R201108,MANDI SAI JASHWANTH,MALE,2010001065,M.P.C,G011,BC-D,Class-13 (S018-AB1),2004-07-31,LEFT RKV,...,0,"Chittoor, Andhra Pradesh, India",13.217176,79.100329,https://raw.githubusercontent.com/pythonista69...,9.92,9.17,9.63,8.54,NaN
1079,R201109,KOMARALA RUPESH,MALE,2111018166,M.P.C,G012,BC-A,Class-11 (S016-AB1),2005-05-16,Civil Engineering,...,0,"Kadapa, Andhra Pradesh, India",14.467300,78.824200,https://raw.githubusercontent.com/pythonista69...,7.71,7.46,7.38,7.00,NaN
1080,R201110,P VIJAY LAXMI,FEMALE,2111064055,M.P.C,G008,OC,Class-4(F013-AB1),2004-08-11,Computer Science and Engineering,...,6,NaN,14.467300,78.824200,https://raw.githubusercontent.com/pythonista69...,9.67,8.92,8.04,7.92,8.07
1081,R201111,ABHINAY D,MALE,2212026064,M.P.C,G008,OC,Class-13 (S018-AB1),2004-03-10,Electronics and Communication Engineering,...,0,"Bengaluru, Karnataka, India",12.971599,77.594563,https://raw.githubusercontent.com/pythonista69...,8.83,8.33,8.29,7.54,7.97

In [10]:
e3s1 = poor[["ID", "e3sem1"]]

In [11]:
e3s1

           ID  e3sem1
0     R200001    8.71
1     R200002    9.43
2     R200003    8.71
3     R200004    8.86
4     R200005     NaN
...       ...     ...
1077  R201107    8.33
1078  R201108     NaN
1079  R201109     NaN
1080  R201110    8.07
1081  R201111    7.97

[1082 rows x 2 columns]

In [14]:
data_e3 = pd.merge(data, e3s1, on="ID", how="outer")

In [15]:
data_e3

,ID,NAME,GENDER,CET HT NO.,pucbranch,Class(p1),CASTE,Class(p2),DOB,branch,...,BLOOD GROUP,Parent,ADDRESS,e1sem1,e1sem2,e2sem1,e2sem2,BRANCH,CGPA,e3sem1
0,R200001,POSA VENKATA SIVA SHANKAR,MALE,2111020143,M.P.C,G004,BC-B,Class-12 (S017-AB1),10/06/2003,Computer Science and Engineering,...,NaN,9704703989,"5/799-4,devangapeta,proddatur,kadapa.",7.73,8.36,8.93,7.31,CSE,8.082,8.71
1,R200002,NANDINENI HARSHAVARDHAN,MALE,2212027156,M.P.C,G004,OC,Class-9 (S010-AB1),09/04/2004,Computer Science and Engineering,...,NaN,9440376164,"31/1097/4, teachers colony kothapeta , dharmav...",8.75,9.73,9.16,9.69,CSE,9.332,9.43
2,R200003,GAJULA HARSHITH,MALE,2715001069,M.P.C,G005,BC-B,Class-13 (S018-AB1),13/05/2004,Computer Science and Engineering,...,a+,9490782671,"h.no 7&2-40/8/1, subhash nagar,sircilla, rajan...",8.55,8.13,8.72,8.69,CSE,8.522,8.71
3,R200004,KONANGI LAKSHMI NARASIMHA,MALE,2010015101,M.P.C,G004,BC-A,Class-9 (S010-AB1),10/07/2004,Computer Science and Engineering,...,NaN,7995163471,madanapalle annamayya dis,8.95,8.49,8.72,8.69,CSE,8.712,8.86
4,R200005,ELUGOTI HARSHA VARDHAN,MALE,2212026173,M.P.C,G006,BC-B,Class-14 (S019-AB1),09/09/2004,LEFT RKV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GONE,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1089,R201107,NANDYALA SANDHYA,FEMALE,2111020018,M.P.C,G008,BC-D,Class-3(F011-AB1),27/06/2005,EEE,...,NaN,9441968462,"15/1168-3 modampalli,proddatur",6.41,6.19,7.00,6.78,EEE,6.595,8.33
1090,R201108,MANDI SAI JASHWANTH,MALE,2010001065,M.P.C,G011,BC-D,Class-13 (S018-AB1),31/07/2004,LEFT RKV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GONE,NaN,NaN
1091,R201109,KOMARALA RUPESH,MALE,2111018166,M.P.C,G012,BC-A,Class-11 (S016-AB1),16/05/2005,Civil Engineering,...,a+,8897296530,thimmayapalem,4.47,1.88,2.43,2.41,CIVIL,2.798,NaN
1092,R201110,P VIJAY LAXMI,FEMALE,2111064055,M.P.C,G008,OC,Class-4(F013-AB1),11/08/2004,Computer Science and Engineering,...,NaN,8411021899,"peddacheppalli, kamlapuram, kadapa",6.88,6.09,7.53,8.77,CSE,7.318,8.07
1093,R201111,ABHINAY D,MALE,2212026064,M.P.C,G008,OC,Class-13 (S018-AB1),10/03/2004,Electronics and Communication Engineering,...,NaN,9008955854,#42 13th a cross pragathi nagar bangalore,6.41,4.87,5.96,6.13,ECE,5.842,7.97

In [16]:
data_e3.to_csv("data_e3.csv", index=False)